<!-- Multi select menu. Required form field "name", "choices", "selected", multiple -->
{% load core_tags %}

<div class="form-control">
  <!-- Select display -->
  <div id="id-{{ name }}-control" class="menu-control">
    <div id="id-{{ name }}-control-text" class="text">---</div>
    <span class="icon">arrow_drop_down</span>
  </div>

  <!-- Select menu -->
  <div id="id-{{ name }}-menu" class="menu">
  {% for value, label in choices %}
    <div id="id-{{ name }}-item-{{ value }}" class="menu-item" data-value="{{ value }}" menu-selected="{{ value|isin:selected|lower }}" onclick="onClickMenuItem(event)">
      <span class="icon">
      {% if value|isin:selected %}done{% endif %}
      </span>
      {{ label }}
    </div>
  {% endfor %}
  </div>

  <!-- Select form component -->
  <select id="id-{{ name }}-select" name="{{ name }}" {% if multiple %}multiple{% endif %} hidden onchange="{{ onChange }}">
  {% for value, label in choices %}
    <option id="id-{{ name }}-option-{{ value }}" value="{{ value }}" {% if value|isin:selected %}selected{% endif %}>
      {{ label }}
    </option>
  {% endfor %}
  </select>

</div>

<script>
  const menuControlId = "id-{{ name }}-control"
  const menuControlTextId = "id-{{ name }}-control-text"
  const menuId = "id-{{ name }}-menu"
  const menuItemIdPrefix = "id-{{ name }}-item-"
  const menuSelectId = "id-{{ name }}-select"
  const menuOptionIdPrefix = "id-{{ name }}-option-"
  const multiple = "{{ multiple }}".toLowerCase() == "true"

  $(`#${menuControlId}`).on("click", () => {
    const menu = $(`#${menuId}`)
    const open = $(menu).hasClass("open")
    open ? $(menu).removeClass("open") : $(menu).addClass("open")
  })

  const onClickMenuItem = (event) => {    
    const menuItem = $(event.target)
    const current = $(menuItem).attr("menu-selected") === "true"
    const selected = multiple ? !current : true

    setMenuItemState(menuItem, selected)

    if (!multiple) {
      const menuItems = $(`div[id^="${menuItemIdPrefix}"][id!="${event.target.id}"]`)
      $(menuItems).each((_, item) => setMenuItemState(item, false))
    }

    setSelectedText()
    setMenuState()

    triggerChangeEvent()
  }

  const setMenuItemState = (menuItem, selected) => {
    const menuValue = $(menuItem).data("value")
    const menuOption = $(`#${menuOptionIdPrefix}${menuValue}`)

    $(menuOption).attr("selected", selected)
    $(menuItem).attr("menu-selected", selected)

    selected 
      ? $(menuItem).children(`span[class="icon"]`).text("done")
      : $(menuItem).children(`span[class="icon"]`).text("")
  }

  const setMenuState = () => {
    !multiple && $(`#${menuId}`).removeClass("open")
  }

  const setSelectedText = () => {
    const selectedMenuItems = $(`option[id^="${menuOptionIdPrefix}"][selected]`)
    const selectedText = selectedMenuItems.map((_, item) => $(item).text().trim())
      .toArray()
      .join(", ")

    $(`#${menuControlTextId}`).text(selectedText)
  }

  const triggerChangeEvent = () => {
    const options = $(`option[id^="${menuOptionIdPrefix}"][selected]`)
    const value = $(options).map((_, option) => $(option).val()).toArray()
    const eventData = { value: multiple ? value : value[0] }

    $(`#${menuSelectId}`).trigger("change", eventData)
  }

  $(document).on("mouseup", (event) => {
    const menu = $(`#${menuId}`)
    const menuControl = $(`#${menuControlId}`)

    const isMenu = $(menu).is(event.target)
    const isInMenu = $(menu).has(event.target).length !== 0
    const isMenuControl = $(menuControl).is(event.target)
    const isInMenuControl = $(menuControl).has(event.target).length !== 0

    if (!isMenu && !isMenuControl && !isInMenu && !isInMenuControl) {
      $(menu).removeClass("open")
    }
  })

  $(document).ready(() => {
    setSelectedText()
  })

</script>
