@import "../theme/variables.scss";

.w-screen {
  width: 100vw;
}

.w-32 {
  width: $spacing * 32;
}

.w-64 {
  width: $spacing * 64;
}

.w-128 {
  width: $spacing * 128;
}

/* By percentage */
.w-25p {
  width: 25%;
}

.w-50p {
  width: 50%;
}

.w-75p {
  width: 75%;
}

.w-100p {
  width: 100%;
}
