@import "./theme/typography.scss";
@import "./theme/colors.scss";
@import "./layout/padding.scss";
@import "./layout/margins.scss";
@import "./layout/flex.scss";
@import "./layout/grid.scss";
@import "./layout/width.scss";
@import "./layout/height.scss";
@import "./components/app_bar.scss";
@import "./components/buttons.scss";
@import "./components/chip.scss";
@import "./components/divider.scss";
@import "./components/dialog.scss";
@import "./components/icons.scss";
@import "./components/map.scss";
@import "./components/nav_rail.scss";
@import "./components/pane.scss";
@import "./components/progress.scss";
@import "./components/search_bar.scss";
@import "./components/snackbar.scss";
@import "./components/table.scss";
@import "./components/text_field.scss";

@import "./components/forms.scss";
@import "./components/menu.scss";

body {
  margin: 0;
  background-color: $background;
  color: $on-background;
}

a {
  text-decoration: none;
  
  &:not(.btn) {
    color: $primary !important;
  }

  &:hover:not(.btn) {
    text-decoration: underline;
  }

  &:visited:not(.btn) {
    color: inherit;
  }
}

h1 {
  @extend .text--display-lg;
  
  margin: 0;
}

h2 {
  @extend .text--display-md;

  margin: 0;
}

h3 {
  @extend .text--headline-lg;
  
  margin: 0;
}

h4 {
  @extend .text--headline-md;
  
  margin: 0;
}

h5 {
  @extend .text--title-lg;
  
  margin: 0;
}

h6 {
  @extend .text--title-md;
  
  margin: 0;
}

p {
  @extend .text--body-md;

  margin: 0;
}


/* Mapbox marker zoom sives */
.zoom-10 {
  font-size: 0.2rem;
}

.zoom-11 {
  font-size: 0.2rem;
}

.zoom-12 {
  font-size: 0.2rem;
}

.zoom-13 {
  font-size: 0.3rem;
}

.zoom-14 {
  font-size: 0.4rem;
}

.zoom-15 {
  font-size: 0.5rem;
}

.zoom-16 {
  font-size: 0.75rem;
}

.zoom-17 {
  font-size: 1rem;
}

.zoom-18 {
  font-size: 1.25rem;
}

.zoom-19 {
  font-size: 1.5rem;
}

.zoom-20 {
  font-size: 1.75rem;
}

.zoom-21 {
  font-size: 3rem;
}

.zoom-22 {
  font-size: 4rem;
}
