{% extends "base.html" %}
{% load project_tags %}

{% block content %}
<div class="pane pane--full-height">
  <div class="flex align-items-center justify-content-between">
    <div>
      <h2>{{ project.name }}</h2>
      <h6 class="mt-2">
        <a href="{% url 'customer-detail' pk=project.customer.pk %}">
          {{ project.customer.name }}
        </a>
        &#8212; {{ project.territory.name }} ({{ project.territory.label }})
      </h6>
      <h6 class="mt-2">{{ project.address }}</h6>
      <h6 class="mt-2">{{ project.get_pricing_model_display }} pricing</h6>
    </div>
    <div class="flex align-items-center">
      <div class="w-64">
        {% include "select.html" with name="status" choices=statuses selected=project.status %}
      </div>
      <a class="btn--filled ml-6" href="{% url 'project-update' pk=project.pk %}">Edit</a>
    </div>
  </div>

  <div class="mt-12">
    <h4>Contacts</h4>
    <table class="table mt-2">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Title</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Extension</th>
        </tr>
      </thead>
      <tbody>
        <!-- Primary contact -->
        {% with primary=project.primary_contact %}
        <tr>
          <td>Primary</td>
          <td>
          {% if primary %}
            <a href="{% url 'contact-update' pk=primary.pk %}">
              {{ primary.name|default:"---" }}
            </a>
          {% else %}
            ---
          {% endif %}
          </td>
          <td>{{ primary.title|default:"---" }}</td>
          <td>{{ primary.email|default:"---" }}</td>
          <td>{{ primary.phone_number|default:"---" }}</td>
          <td>{{ primary.extension|default:"---" }}</td>
        </tr>
        {% endwith %}
        
        <!-- Secondary contact -->
        {% with secondary=project.secondary_contact %}
        <tr>
          <td>Secondary</td>
          <td>
          {% if secondary %}
            <a href="{% url 'contact-update' pk=secondary.pk %}">
              {{ secondary.name|default:"---" }}
            </a>
          {% else %}
            ---
          {% endif %}
          </td>
          <td>{{ secondary.title|default:"---" }}</td>
          <td>{{ secondary.email|default:"---" }}</td>
          <td>{{ secondary.phone_number|default:"---" }}</td>
          <td>{{ secondary.extension|default:"---" }}</td>
        </tr>
        {% endwith %}
      </tbody>
    </table>
  </div>

  <div class="mt-12">
    <h4>Documents</h4>
    <table class="table mt-2">
      <thead>
        <tr>
          <th>Name</th>
          <th align="center">Status</th>
          <th align="center">Last Edit At</th>
          <th align="center">Last Edit By</th>
          <th align="center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Survey instructions -->
        {% with exists=project.has_survey_instructions %}
        <tr>
          <td>Survey instructions</td>
          <td align="center">{{ exists|status_icon }}</td>
          <td align="center">---</td>
          <td align="center">---</td>
          <td>
            <div class="flex--center">
              <a href="{% url 'project-si' pk=project.pk %}" class="btn--icon-sm">
                <span class="icon">edit</span>
              </a>
              {% if exists %}
              <a href="{% url 'documents-survey-instructions' pk=si.pk %}" class="btn--icon-sm ml-1">
                <span class="icon">download</span>
              </a>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endwith %}

        <!-- Survey measurements -->
        {% with exists=project.has_survey_measurements %}
        <tr>
          <td>Survey data</td>
          <td align="center">{{ exists|status_icon }}</td>
          <td align="center">---</td>
          <td align="center">---</td>
          <td align="center">
            <div class="flex--center">
              <a href="{% url 'project-measurements-import' pk=project.pk stage='survey' %}" class="btn--icon-sm">
                <span class="icon">upload_file</span>
              </a>
              {% if exists %}
              <a href="{% url 'project-measurements-export' pk=project.pk stage='survey' %}" class="btn--icon-sm ml-1">
                <span class="icon">download</span>
              </a>

              <!-- Clear survey measurements (modal) -->
              <button class="btn--icon-sm ml-1" id="btn-clear-survey-measurements">
                <span class="icon">delete</span>
              </button>

              <div class="dialog" data-control="btn-clear-survey-measurements">
                <div class="dialog-content">
                  <div class="dialog-title">
                    Remove survey data
                  </div>

                  <div class="dialog-body">
                    Are you sure you want to remove all survey data?
                  </div>

                  <div class="dialog-actions">
                    <form method="POST" action="{% url 'project-measurements-clear' pk=project.pk stage='survey' %}">
                      {% csrf_token %}
                      <button type="submit" class="btn--text-error">Remove</button>
                    </form>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endwith %}

        <!-- Pricing sheet -->
        {% with exists=project.has_pricing_sheet %}
        <tr>
          <td>Pricing sheet</td>
          <td align="center">{{ project.has_pricing_sheet|status_icon }}</td>
          <td align="center">---</td>
          <td align="center">---</td>
          <td>
            <div class="flex--center">
              <a href="{% url 'project-pricing-sheet' pk=project.pk %}" class="btn--icon-sm">
                <span class="icon">edit</span>
              </a>
              {% if exists %}
              <button class="btn--icon-sm" onclick="onDownloadPricingSheet()">
                <span class="icon">download</span>
              </button>
              
              <!-- Modal for downloading -->
              <div class="dialog" id="id_modal_pricing_sheet" data-no-click-away="true">
                <div class="dialog-content">
                  <div class="dialog-body">
                    <div class="flex--center flex--column m-4">
                      <div class="m-8">
                        <div class="progress-circle">progress_activity</div>
                      </div>
                      Generating the pricing sheet. This may take a moment.
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </td>
        </tr>
        <tr>
        {% endwith %}

        <!-- Project instructions -->
        {% with exists=project.has_project_instructions %}
        <tr>
          <td>Project instructions</td>
          <td align="center">{{ exists|status_icon }}</td>
          <td align="center">---</td>
          <td align="center">---</td>
          <td>
            <div class="flex--center">
              <a href="{% url 'project-pi' pk=project.pk %}" class="btn--icon-sm">
                <span class="icon">edit</span>
              </a>
              {% if exists %}
              <a href="{% url 'documents-project-instructions' pk=pi.pk %}" class="btn--icon-sm ml-1">
                <span class="icon">download</span>
              </a>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endwith %}

        <!-- Production measurements -->
        {% with exists=project.has_production_measurements %}
        <tr>
          <td>Production data</td>
          <td align="center">{{ exists|status_icon }}</td>
          <td align="center">---</td>
          <td align="center">---</td>
          <td>
            <div class="flex--center">
              <a href="{% url 'project-measurements-import' pk=project.pk stage='production' %}" class="btn--icon-sm">
                <span class="icon">upload_file</span>
              </a>
              {% if exists %}
              <a href="{% url 'project-measurements-export' pk=project.pk stage='production' %}" class="btn--icon-sm ml-1">
                <span class="icon">download</span>
              </a>

              <!-- Clear production measurements (modal) -->
              <button class="btn--icon-sm ml-1" id="btn-clear-production-measurements">
                <span class="icon">delete</span>
              </button>

              <div class="dialog" data-control="btn-clear-production-measurements">
                <div class="dialog-content">
                  <div class="dialog-title">
                    Remove production data
                  </div>

                  <div class="dialog-body">
                    Are you sure you want to remove all production data?
                  </div>

                  <div class="dialog-actions">
                    <form method="POST" action="{% url 'project-measurements-clear' pk=project.pk stage='production' %}">
                      {% csrf_token %}
                      <button type="submit" class="btn--text-error">Remove</button>
                    </form>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endwith %}

        <!-- Project summary -->
        {% with exists=projext.has_project_summary %}
        <tr>
          <td>Project summary</td>
          <td align="center">{{ exists|status_icon }}</td>
          <td align="center">---</td>
          <td align="center">---</td>
          <td>
            <div class="flex--center">
              {% if exists %}
              <a href="#" class="btn--icon-sm ml-1">
                <span class="icon">download</span>
              </a>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endwith %}

        <!-- Post-project review -->
        {% with exists=project.has_post_project_review %}
        <tr>
          <td>Post-project review</td>
          <td align="center">{{ exists|status_icon }}</td>
          <td align="center">---</td>
          <td align="center">---</td>
          <td>
            <div class="flex--center">
              {% if exists %}
              <a href="#" class="btn--icon-sm ml-1">
                <span class="icon">download</span>
              </a>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endwith %}

      </tbody>
    </table>
  </div>

  <div class="mt-12">
    <h4>Map</h4>
    <div class="my-2">
    {% if project.measurements.exists %}
      <div id="map" class="map"></div>
    {% else %}
      <p>No measurements to display</p>
    {% endif %}
    </div>
  </div>
</div>

<script>
  $(document).ready(() => {
    const geojson = JSON.parse("{{ measurements|safe|escapejs }}")

    if (geojson.features.length > 0) {
      const bbox = JSON.parse("{{ bbox }}")
      const centroid = JSON.parse("{{ centroid }}")

      var map = new MeasurementsMap("map", "{{ project.pk }}", centroid)
      map.fitBounds(bbox)
      map.addFeatures(geojson.features, "measurements")
    }
  })

  // Configure the handler for the status change
  $("#id-status-select").on("change", (_, eventData) => {
    const url = "/projects/{{ project.pk }}/edit/status/"

    const data = new FormData()
    data.append("csrfmiddlewaretoken", "{{ csrf_token }}")
    data.append("status", eventData.value)

    fetch(url, { method: "POST", body: data, credentials: "include" })
  })

  // Handler to generate the pricing sheet (asynchronous)
  const onDownloadPricingSheet = async () => {
    const modal = $("#id_modal_pricing_sheet")
    $(modal).addClass("open")

    const url = "{% url 'documents-pricing-sheet' pk=project.pk %}"
    const resp = await fetch(url, { credentials: "include" })

    if (resp.ok) {
      const { request_id } = await resp.json()
      await downloadPricingSheet(request_id)
      $(modal).removeClass("open")
    }
  }

  // Handler to download the pricing sheet
  const downloadPricingSheet = async (requestId) => {
    const url = "{% url 'documents-pricing-sheet' pk=project.pk %}" + `?request_id=${requestId}`
    const resp = await fetch(url, { mode: "no-cors", credentials: "include" })

    // Receiving a 202 Accepted means the report is still generating
    // so the request needs to be retried after a period of time
    if (resp.status === 202) {
      setTimeout(() => downloadPricingSheet(requestId), 5000)
      return
    }

    // If receiving a 200, download the file
    if (resp.status === 200) {
      const data = await resp.json()
      const anchor = document.createElement("a")
      anchor.href = data.url
      anchor.target = "_self"
      anchor.click()
      anchor.remove()
    }
  }

</script>
{% endblock %}
