{% extends "base.html" %}

{% block content %}
<div class="pane pane--full-height">
  <div class="flex align-items-center justify-content-between">
    <h2>Deals</h2>
  </div>

  <div class="my-12">
    <div id="projects-table"></div>
  </div>
</div>

<script>
  const filterOptions = {{ table_filters|safe }}
  
  $(document).ready(() => {
    new DataTable("projects-table", {
      columns: [
        "Organization",
        "Deal Name",
        "BD",
        "Territory",
        "Stage",
        "Segment",
        "Created",
      ],
      filterOptions: filterOptions,
      sortOptions: [
        {sort: "customer__name", label: "Organization"},
        {sort: "name", label: "Deal Name"},
        {sort: "status", label: "Stage"},
        {sort: "business_development_manager", label: "BD"},
        {sort: "customer__segment", label: "Segment"},
        {sort: "territory__name", label: "Territory"},
        {sort: "created_at", label: "Created"},
      ],
      url: "/api/tables/projects/",
      perPage: 30,
    })
  })
</script>
{% endblock %}
