{% extends "base.html" %}
{% load tz %}
{% load project_tags %}

{% block content %}
{% localtime on %}
<div class="pane pane--full-height">
  <div class="flex align-items-center justify-content-between">
    <div>
      <h2>{{ project.name }}</h2>
      <h6 class="mt-2">
        <a href="{% url 'customer-detail' pk=project.customer.pk %}">
          {{ project.customer.name }}
        </a>
        &#8212; {{ project.territory.name }} ({{ project.territory.label }})
      </h6>
      <h6 class="mt-2">{{ project.address }}</h6>
      <h6 class="mt-2">{{ project.get_pricing_model_display }} pricing</h6>
    </div>
    <div class="flex align-items-center">
      <div class="w-64">
        {% include "select.html" with name="status" choices=statuses selected=project.status %}
      </div>
      <a class="btn--filled ml-6" href="{% url 'project-update' pk=project.pk %}">Edit</a>
    </div>
  </div>

  <div class="mt-12">
    <h4>Contacts</h4>
    <table class="table mt-2">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Title</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Extension</th>
        </tr>
      </thead>
      <tbody>
        <!-- Primary contact -->
        {% with primary=project.primary_contact %}
        <tr>
          <td>Primary</td>
          <td>
          {% if primary %}
            <a href="{% url 'contact-update' pk=primary.pk %}">
              {{ primary.name|default:"---" }}
            </a>
          {% else %}
            ---
          {% endif %}
          </td>
          <td>{{ primary.title|default:"---" }}</td>
          <td>{{ primary.email|default:"---" }}</td>
          <td>{{ primary.phone_number|default:"---" }}</td>
          <td>{{ primary.extension|default:"---" }}</td>
        </tr>
        {% endwith %}
        
        <!-- Secondary contact -->
        {% with secondary=project.secondary_contact %}
        <tr>
          <td>Secondary</td>
          <td>
          {% if secondary %}
            <a href="{% url 'contact-update' pk=secondary.pk %}">
              {{ secondary.name|default:"---" }}
            </a>
          {% else %}
            ---
          {% endif %}
          </td>
          <td>{{ secondary.title|default:"---" }}</td>
          <td>{{ secondary.email|default:"---" }}</td>
          <td>{{ secondary.phone_number|default:"---" }}</td>
          <td>{{ secondary.extension|default:"---" }}</td>
        </tr>
        {% endwith %}
      </tbody>
    </table>
  </div>
  
  <div class="mt-12">
    <h4>Data Sources</h4>
    <table class="table mt-2">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th align="center">Sync Status</th>
          <th align="center">Last Sync</th>
          <th align="center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ project.arcgis_item.title|default:"---" }}</td>
          <td>{{ project.arcgis_item.get_item_type_display|default:"Web Map" }}</td>
          <td align="center">{% if project.arcgis_item %}Assigned{% else %}Unassigned{% endif %}</td>
          <td align="center">---</td>
          <td align="center">
            <div class="flex--center">
              <!-- Manually set the WebMap source -->
              <a class="btn--icon-sm" href="{% url 'project-web-map' pk=project.pk %}">
                <span class="icon">edit</span>
              </a>
            </div>
          </td>
        </tr>
        {% for layer in project.layers.all|dictsort:"id" %}
        <tr>
          <td>{{ layer.arcgis_item.title }}</td>
          <td>{{ layer.arcgis_item.get_item_type_display }}</td>
          <td align="center" id="layer:status:{{ layer.id }}">{{ layer.get_status_display }}</td>
          <td align="center">{{ layer.last_synced_at }}</td>
          <td>
            <div class="flex--center">
              <!-- Manually sync the layer data from ArcGIS -->
              <button class="btn--icon-sm" onclick="onSyncLayer({{ layer.id }})">
                <span class="icon">sync</span>
              </button>
              
              <!-- Modal for syncing -->
              <div class="dialog" id="id_modal_layer_sync_{{ layer.id }}" data-no-click-away="true">
                <div class="dialog-content">
                  <div class="dialog-body">
                    <div class="flex--center flex--column m-4">
                      <div class="m-8">
                        <div class="progress-circle">progress_activity</div>
                      </div>
                      Synchronizing layer {{ layer.title }} from ArcGIS. This may take a moment.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="mt-12">
    <h4>Documents</h4>
    <table class="table mt-2">
      <thead>
        <tr>
          <th>Name</th>
          <th align="center">Status</th>
          <th align="center">Last Edit At</th>
          <th align="center">Last Edit By</th>
          <th align="center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Survey instructions -->
        {% with exists=project.has_survey_instructions %}
        <tr>
          <td>Survey instructions</td>
          <td align="center">{{ exists|status_icon }}</td>
          <td align="center">---</td>
          <td align="center">---</td>
          <td>
            <div class="flex--center">
              <a href="{% url 'project-si' pk=project.pk %}" class="btn--icon-sm">
                <span class="icon">edit</span>
              </a>
              {% if exists %}
              <a href="{% url 'documents-survey-instructions' pk=si.pk %}" class="btn--icon-sm ml-1">
                <span class="icon">download</span>
              </a>
              {% else %}
              <a href="{% url 'documents-survey-instructions' pk=si.pk %}?preview=true" target="_blank" class="btn--icon-sm ml-1">
                <span class="icon">preview</span>
              </a>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endwith %}

        <!-- Survey measurements -->
        {% with exists=project.has_survey_measurements %}
        <tr>
          <td>Survey data</td>
          <td align="center">{{ exists|status_icon }}</td>
          <td align="center">---</td>
          <td align="center">---</td>
          <td align="center">
            <div class="flex--center">
              <a href="{% url 'project-measurements-import' pk=project.pk stage='survey' %}" class="btn--icon-sm">
                <span class="icon">upload_file</span>
              </a>
              {% if exists %}
              <a href="{% url 'project-measurements-export' pk=project.pk stage='survey' %}" class="btn--icon-sm ml-1">
                <span class="icon">download</span>
              </a>

              <!-- Clear survey measurements (modal) -->
              <button class="btn--icon-sm ml-1" id="btn-clear-survey-measurements">
                <span class="icon">delete</span>
              </button>

              <div class="dialog" data-control="btn-clear-survey-measurements">
                <div class="dialog-content">
                  <div class="dialog-title">
                    Remove survey data
                  </div>

                  <div class="dialog-body">
                    Are you sure you want to remove all survey data?
                  </div>

                  <div class="dialog-actions">
                    <form method="POST" action="{% url 'project-measurements-clear' pk=project.pk stage='survey' %}">
                      {% csrf_token %}
                      <button type="submit" class="btn--text-error">Remove</button>
                    </form>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endwith %}

        <!-- Pricing sheet -->
        {% with exists=project.has_pricing_sheet %}
        <tr>
          <td>Pricing sheet</td>
          <td align="center">{{ project.has_pricing_sheet|status_icon }}</td>
          <td align="center">---</td>
          <td align="center">---</td>
          <td>
            <div class="flex--center">
              <a href="{% url 'project-pricing-sheet' pk=project.pk %}" class="btn--icon-sm">
                <span class="icon">edit</span>
              </a>
              {% if exists %}
              <button class="btn--icon-sm" onclick="onDownloadDocument('pricing_sheet')">
                <span class="icon">download</span>
              </button>
              
              <!-- Modal for downloading -->
              <div class="dialog" id="id_modal_pricing_sheet" data-no-click-away="true">
                <div class="dialog-content">
                  <div class="dialog-body">
                    <div class="flex--center flex--column m-4">
                      <div class="m-8">
                        <div class="progress-circle">progress_activity</div>
                      </div>
                      Generating the pricing sheet. This may take a moment.
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal for downloading error -->
              <div class="dialog" id="id_modal_pricing_sheet_error">
                <div class="dialog-content">
                  <div class="dialog-body">
                    <div class="flex--center flex--column m-4">
                      <div class="m-8">
                        <span class="icon--lg icon--filled icon--error">error</span>
                      </div>
                      An error occurred generating the pricing sheet.
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </td>
        </tr>
        <tr>
        {% endwith %}

        <!-- Project instructions -->
        {% with exists=project.has_project_instructions %}
        <tr>
          <td>Project instructions</td>
          <td align="center">{{ exists|status_icon }}</td>
          <td align="center">---</td>
          <td align="center">---</td>
          <td>
            <div class="flex--center">
              <a href="{% url 'project-pi' pk=project.pk %}" class="btn--icon-sm">
                <span class="icon">edit</span>
              </a>
              {% if exists %}
              <a href="{% url 'documents-project-instructions' pk=pi.pk %}" class="btn--icon-sm ml-1">
                <span class="icon">download</span>
              </a>
              {% else %}
              <a href="{% url 'documents-project-instructions' pk=pi.pk %}?preview=true" target="_blank" class="btn--icon-sm ml-1">
                <span class="icon">preview</span>
              </a>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endwith %}

        <!-- Production measurements -->
        {% with exists=project.has_production_measurements %}
        <tr>
          <td>Production data</td>
          <td align="center">{{ exists|status_icon }}</td>
          <td align="center">---</td>
          <td align="center">---</td>
          <td>
            <div class="flex--center">
              <a href="{% url 'project-measurements-import' pk=project.pk stage='production' %}" class="btn--icon-sm">
                <span class="icon">upload_file</span>
              </a>
              {% if exists %}
              <a href="{% url 'project-measurements-export' pk=project.pk stage='production' %}" class="btn--icon-sm ml-1">
                <span class="icon">download</span>
              </a>

              <!-- Clear production measurements (modal) -->
              <button class="btn--icon-sm ml-1" id="btn-clear-production-measurements">
                <span class="icon">delete</span>
              </button>

              <div class="dialog" data-control="btn-clear-production-measurements">
                <div class="dialog-content">
                  <div class="dialog-title">
                    Remove production data
                  </div>

                  <div class="dialog-body">
                    Are you sure you want to remove all production data?
                  </div>

                  <div class="dialog-actions">
                    <form method="POST" action="{% url 'project-measurements-clear' pk=project.pk stage='production' %}">
                      {% csrf_token %}
                      <button type="submit" class="btn--text-error">Remove</button>
                    </form>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endwith %}

        <!-- Project summary -->
        {% with exists=project.has_project_summary %}
        <tr>
          <td>Project summary</td>
          <td align="center">{{ exists|status_icon }}</td>
          <td align="center">---</td>
          <td align="center">---</td>
          <td>
            <div class="flex--center">
              {% if exists %}
              <button id="btn-download-project-summary" class="btn--icon-sm" onclick="onDownloadDocument('project_summary')">
                <span class="icon">download</span>
              </button>
              
              <!-- Modal for downloading -->
              <div class="dialog" id="id_modal_project_summary" data-no-click-away="true">
                <div class="dialog-content">
                  <div class="dialog-body">
                    <div class="flex--center flex--column m-4">
                      <div class="m-8">
                        <div class="progress-circle">progress_activity</div>
                      </div>
                      Generating the project summary. This may take a moment.
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal for downloading error -->
              <div class="dialog" id="id_modal_project_summary_error">
                <div class="dialog-content">
                  <div class="dialog-body">
                    <div class="flex--center flex--column m-4">
                      <div class="m-8">
                        <span class="icon--lg icon--filled icon--error">error</span>
                      </div>
                      An error occurred generating the project summary.
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endwith %}
      </tbody>
    </table>
  </div>

  <!-- Measurements map -->
  <div class="mt-12">
    <h4>Map</h4>
    <div class="my-2">
    {% if project.measurements.exists %}
      <div class="flex">
        <div id="map" class="map"></div>

        <div class="w-25p p-4">
          <div>
            <div class="flex">
              <button class="btn mr-1" onclick="fitToView()">
                Fit View
              </button>
              <button class="btn" onclick="saveToImage()">
                Save Image
              </button>
            </div>
          </div>

          <div class="mt-4">
            <h6>Map Style</h6>
            <div class="menu w-100p mt-1" data-active="true">
              <select class="w-100p" onchange="onChangeMapStyle(event)">
                <option value="mapbox://styles/mapbox/streets-v12">Streets</option>
                <option value="mapbox://styles/mapbox/satellite-streets-v12">Satellite</option>
              </select>
            </div>
          </div>

          <div class="mt-4">
            <div onclick="onToggleMapLabels()">
              <input id="map:labels", type="checkbox" checked="">
              <label class="text--label-lg">Show Labels</label>
            </div>
          </div>

          <div class="mt-4">
            <h6>Stage</h6>
            {% for stage in map_legend.stages %}
            <div class="mt-1" onclick="onToggleMapLayer(event, 'stage', '{{ stage }}')">
              <input id="map:filter:stage:{{ stage }}" type="checkbox" checked>
              <label class="text--label-lg">{{ stage }}</label>
            </div>
            {% endfor %}
          </div>
          <div class="mt-4">

            <h6>Hazard Sizes</h6>
            {% for hazard_size in map_legend.hazard_sizes %}
            <div class="mt-1" onclick="onToggleMapLayer(event, 'hazard_size', '{{ hazard_size }}')">
              <input id="map:filter:hazard_size:{{ hazard_size }}" type="checkbox" checked>
              <label class="text--label-lg">{{ hazard_size }}</label>
            </div>
            {% endfor %}
          </div>

          <div class="mt-4">
            <h6>Special Cases</h6>
            {% for special_case in map_legend.special_cases %}
            <div class="mt-1" onclick="onToggleMapLayer(event, 'special_case', '{{ special_case }}')">
              <input id="map:filter:special_case:{{ special_case }}" type="checkbox" checked>
              <label class="text--label-lg">{{ special_case }}</label>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% else %}
      <p>No measurements to display</p>
    {% endif %}
    </div>
  </div>
</div>

<script>
  // Constants
  const pricingSheetUrl = "{% url 'documents-pricing-sheet-detail' pk=project.pk %}"
  const projectSummaryUrl = "{% url 'documents-project-summary-detail' pk=project.pk %}"
  const hasMeasurements = "{{ project.measurements.exists }}" === "True"
  const centroid = hasMeasurements ? JSON.parse("{{ centroid }}") : null

  // Global variables
  var map = null;
  var imageId = 1;

  $(document).ready(() => {
    if (hasMeasurements) {
      map = new MeasurementsMap("map", "{{ project.pk }}", center=centroid)
      $(`input[id^="map:filter"]`).prop("checked", true)
      $(`input[id="map:labels"]`).prop("checked", false)
    }

    enableProjectSummaryDownload()
  })

  // Configure the handler for the status change
  $("#id-status-select").on("change", (_, eventData) => {
    const url = "/projects/{{ project.pk }}/edit/status/"

    const data = new FormData()
    data.append("csrfmiddlewaretoken", "{{ csrf_token }}")
    data.append("status", eventData.value)

    fetch(url, { method: "POST", body: data, credentials: "include" })
  })

  // Handler to generate a document (asynchronous)
  const onDownloadDocument = async (documentType) => {
    const modal = $(`#id_modal_${documentType}`)
    $(modal).addClass("open")

    const url = getDocumentUrl(documentType, null)
    const resp = await fetch(url, { credentials: "include" })

    if (resp.ok) {
      const { request_id } = await resp.json()
      await downloadDocument(documentType, request_id)
    }
  }

  // Download a document (asynchronously)
  const downloadDocument = async (documentType, requestId) => {
    const modal = $(`#id_modal_${documentType}`)
    const modalError = $(`#id_modal_${documentType}_error`)

    const url = getDocumentUrl(documentType, requestId)
    const resp = await fetch(url, { mode: "no-cors", credentials: "include" })

    // Receiving a 202 Accepted means the report is still generating
    // so the request needs to be retried after a period of time
    if (resp.status === 202) {
      setTimeout(() => downloadDocument(documentType, requestId), 5000)
      return
    }

    // If the presigned url is present, then the generation was
    // a success and the file can be downloaded
    if (resp.status === 200) {
      const data = await resp.json()
      const anchor = document.createElement("a")

      anchor.href = data.url
      anchor.target = "_self"
      anchor.click()
      anchor.remove()
      $(modal).removeClass("open")

      return true
    }

    // If an error occurred, let the user know
    $(modal).removeClass("open")
    $(modalError).addClass("open")
    return false
  }

  // Return the document download URL
  const getDocumentUrl = (documentType, requestId) => {
    let baseUrl = null
    
    switch (documentType) {
      case "pricing_sheet":
        baseUrl = pricingSheetUrl
        break
      case "project_summary":
        baseUrl = projectSummaryUrl
        break
    }

    return requestId ? `${baseUrl}?request_id=${requestId}` : baseUrl
  }

  // Handler to reset the map bounds
  const fitToView = () => {
    map.fitToView()
  }

  // Handler to change the map style
  const onChangeMapStyle = (event) => {
    map.buildMap(event.target.value)
  }

  // Handler for toggling a map layer
  const onToggleMapLayer = (event, layer, value) => {
    const element = document.getElementById(`map:filter:${layer}:${value}`)

    if (event.target !== element) {
      $(element).prop("checked", !element.checked)
    }

    element.checked
      ? map.addFilter(layer, value)
      : map.removeFilter(layer, value)
  }

  // Handler for toggling the map labels
  const onToggleMapLabels = () => {
    const element = document.getElementById("map:labels")
    
    if (event.target !== element) {
      $(element).prop("checked", !element.checked)
    }

    map.toggleLabels()
  }

  // Handler to save the map as an image
  const saveToImage = async () => {
    var a = document.createElement("a")
    a.href = await map.saveToImage()
    a.download = `{{ project.slug }}_map_${imageId}.png`
    a.click()
    
    imageId++
  }

  // Keep the project summary download button disabled until
  // the geocoding for the production measurements has completed
  const enableProjectSummaryDownload = async () => {
    const button = $("#btn-download-project-summary")
    $(button).prop("disabled", true)

    const complete = await waitForGeocoding("PRODUCTION")
    $(button).prop("disabled", !complete)
  }

  // Wait for the geocoding task to complete
  const waitForGeocoding = async (stage, timeout = 300) => {
    const url = `/api/projects/{{ project.pk }}/geocoding/?stage=${stage}`
    const start = Date.now()

    while (Date.now() - start < timeout * 1000) {
      const resp = await fetch(url)

      if (resp.ok) {
        const { complete } = await resp.json()

        if (complete) {
          return true
        }
      }

      await delay(5)
    }

    return false
  }

  // Sleep for n seconds
  const delay = async (seconds) => {
    return new Promise(res => setTimeout(res, seconds * 1000))  
  }

  // Handler for synchronizing a layer
  const onSyncLayer = async (layerId, timeout = 300) => {
    const start = Date.now()

    const dialog = $(`#id_modal_layer_sync_${layerId}`)
    $(dialog).addClass("open")
    $(`td[id="layer:status:${layerId}"`).text("In Progress")

    const url = `/api/projects/layers/${layerId}/sync/`
    await fetch(url, { method: "POST", headers: { "X-CSRFToken": "{{ csrf_token }}" }})

    while (Date.now() - start < timeout * 1000) {
      const layerUrl = `/api/projects/layers/${layerId}/`
      const resp = await fetch(layerUrl)

      if (resp.ok) {
        const { status } = await resp.json()

        if (status === "COMPLETE" || status === "FAILED") {
          window.location.reload()
          return true
        }
      }

      await delay(5)
    }

    $(`#layer:status:${layerId}`).text("Sync Timed Out")
    $(dialog).removeClass("open")

    return false
  }
</script>
{% endlocaltime %}
{% endblock %}
