{% extends "base.html" %}

{% block content %}
<div class="pane pane--full-height">
  <h2>{% if project %}{{ project.name}}{% else %}New deal{% endif %}</h2>
  <h6 class="mt-2">
  {% if project %}
    <a href="{% url 'project-detail' pk=project.pk %}">{{ project.name }}</a>
  {% else %}
    <a href="{% url 'customer-detail' pk=customer.pk %}">{{ customer.name }}</a>
  {% endif %}
  </h6>

  <div class="mt-16 w-128">
    <form method="POST">
      {% csrf_token %}

      {{ form.customer }}

      <div class="text-field--filled">
        <label for="{{ form.name.id_for_label }}">Name</label>
        {{ form.name }} 
      </div>
      
      <div class="text-field--filled mt-6">
        <label for="{{ form.address.id_for_label }}">Address</label>
        {{ form.address }} 
      </div>
      
      <div class="text-field--filled mt-6">
        <label for="{{ form.business_development_administrator.id_for_label }}">Business development administrator (BDA)</label>
        {{ form.business_development_administrator }} 
      </div>

      <div class="text-field--filled mt-6">
        <label for="{{ form.pricing_model.id_for_label }}">Pricing Model</label>
        {{ form.pricing_model }} 
      </div>

      <div class="text-field--filled mt-6">
        <label for="{{ form.po_number.id_for_label }}">PO/PA Number</label>
        {{ form.po_number }} 
      </div>

      <div class="text-field--filled mt-6">
        <label for="{{ form.primary_contact.id_for_label }}">Primary Contact</label>
        {{ form.primary_contact }}
      </div>
      
      <div class="text-field--filled mt-6">
        <label for="{{ form.secondary_contact.id_for_label }}">Secondary Contact</label>
        {{ form.secondary_contact }}
      </div>

      <div class="mt-6">
        <button class="btn--filled" type="submit">
          {% if customer %}Save{% else %}Create{% endif %}
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
