{% extends "base.html" %}

{% block content %}
<div class="pane pane--full-height">
  <div class="flex align-items-center justify-content-between">
    <h2>Deals</h2>
  </div>

  <div class="my-12">
    <div id="projects-table"></div>
  </div>
</div>

<script>
  const filterOptions = {{ table_filters|safe }}
  
  $(document).ready(() => {
    new DataTable("projects-table", {
      columns: [
        "Deal Name",
        "Stage",
        "BD",
        "Segment",
        "Territory",
        "Created",
      ],
      filterOptions: filterOptions,
      url: "/api/tables/projects/",
      perPage: 10,
    })
  })
</script>
{% endblock %}
