{% extends "base.html" %}
{% load project_tags %}

{% block content %}
<div class="pane">
  <h2>Survey Instructions</h2>
  <h5 class="mt-2">
    <a href="{% url 'project-detail' pk=instruction.project.pk %}">
      {{ instruction.project.name }}
    </a>
  </h5>
</div>

<div class="pane mt-6">
  <form method="POST">
    {% csrf_token %}

    <!-- Details -->
    <div class="mb-12">
      <h4 class="mb-1">Details</h4>
      <h6 class="text--body-md text--muted">
        Provide details about the survey.
      </h6>

      <div class="mt-4 grid" style="grid-template-columns: 256px auto;">
        <div class="text--body-md">
          Surveyor
        </div>
        <div class="form-control w-64" data-active="true">
          <select name="surveyor">
            <option value="">---</option>
            {% for surveyor in surveyors %}
            <option value="{{ surveyor.id }}">{{ surveyor.full_name }}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="text--body-md">
          Needed by</div>
        <div class="form-control w-64">
          <input type="text" name="needed-by" placeholder="dd/mm/yyyy" {% if instruction.needed_by %}{{ instruction.needed_by }}{% endif %}>
        </div>
      </div>
    </div>

    <!-- Hazards -->
    <div class="mb-12">
      <h4 class="mb-1">Hazards</h4>
      <h6 class="text--body-md text--muted">
        Select all that apply. Optionally, select the pricing model (defaults to standard).
      </h6>

      <div class="mt-4 grid" style="grid-template-columns: 256px auto;">
      {% for hazard in hazards %}
        {% get_spec "H" hazard.0 as spec %}
        <div class="chip--filter mr-3" onclick="onToggleHazardChip(event)" {% if spec %}data-active="true"{% endif %}>
          {{ hazard.1 }}
          <input 
            type="checkbox" 
            name="hazard-state-{{ hazard.0 }}" 
            {% if spec %}checked{% endif %}
            hidden>
        </div>

        <div class="form-control w-64" {% if spec %}data-active="true"{% endif %}>
          <select name="hazard-pricing-model-{{ hazard.0 }}">
          {% for pricing_model in pricing_models %}
            <option value="{{ pricing_model.0 }}"
              {% if pricing_model.0 == spec.pricing_model %}
                selected
              {% elif pricing_model.0 == "S" and not spec.pricing_model %}
                selected
              {% endif %}
            >
              {{ pricing_model.1 }}
            </option>
          {% endfor %}
          </select>
        </div>

      {% endfor %}
      </div>
    </div>

    <!-- Special cases -->
    <div class="my-12">
      <h4 class="mb-1">Special cases</h4>
      <h6 class="text--body-md text--muted">
        Select all that apply. Optionally, include a note for additional context or instructions.
      </h6>

      <div class="mt-4 grid" style="grid-template-columns: 256px auto;">
      {% for special_case in special_cases %}
        {% get_spec "SC" special_case.0 as spec %}

        <div class="chip--filter" onclick="onToggleSpecialCaseChip(event)" {% if spec %}data-active="true"{% endif %}>
          {{ special_case.1 }}
          <input type="checkbox" name="special-case-state-{{ special_case.0 }}" {% if spec %}checked{% endif %} hidden>
        </div>

        <div class="form-control">
          <input 
            type="text" 
            name="special-case-note-{{ special_case.0 }}" 
            placeholder="Add a note" 
            {% if spec and spec.note %}value="{{ spec.note }}"{% endif %}
            {% if not spec %}hidden{% endif %}>
        </div>

      {% endfor %}
      </div>
    </div>

    <!-- Method -->
    <div class="mb-12">
      <h4>Survey method</h4>
      <p>TBD</p>
    </div>
    
    <!-- Standard D & R specifications -->
    <div class="mb-12">
      <h4 class="mb-1">Standard D&amp;R specifications</h4>
      <h6 class="text--body-md text--muted">
        Select all that apply
      </h6>
      <div class="mt-4 grid--col-3">
      {% for dr_spec in dr_specifications %}
        {% get_spec "DR" dr_spec.0 as spec %}
        <div class="chip--filter mr-2" onclick="onToggleChip(event)" {% if spec %}data-active="true"{% endif %}>
          {{ dr_spec.1 }}
          <input type="checkbox" name="dr-state-{{ dr_spec.0 }}" {% if spec %}checked{% endif %} hidden>
        </div>
      {% endfor %}
      </div>
    </div>
    
    <!-- Pictures -->
    <div class="mb-12">
      <h4>Pictures</h4>
      <p>TBD</p>
    </div>
    
    <!-- Notes & special instructions -->
    <div class="mb-12">
      <h4>Notes and special instructions</h4>
      <p>TBD</p>
    </div>

    <!-- Save button -->
    <button type="submit" class="btn--filled">
      Save
    </button>

  </form>
</div>

<script>

  /// Toggle handler for a chip filter
  const onToggleChip = (event) => {
    const chip = $(event.target)
    const checkbox = $(chip).children(`input[type="checkbox"]`)
    const checked = $(checkbox).prop("checked")
  
    $(chip).attr("data-active", !checked)
    $(checkbox).prop("checked", !checked)

    return !checked
  }

  /// Toggle handler for a hazard chip filter
  const onToggleHazardChip = (event) => {
    const checked = onToggleChip(event)

    const menu = $(event.target).next()
    $(menu).attr("data-active", checked)
  }

  /// Toggle handler for a special case chip filter
  const onToggleSpecialCaseChip = (event) => {
    const checked = onToggleChip(event)

    const formControl = $(event.target).next()
    const input = $(formControl).children(`input[type="text"]`)
    $(input).attr("hidden", !checked)
  }

</script>

{% endblock %}
