@import "../theme/colors.scss";
@import "../theme/typography.scss";

.menu {
  z-index: 9000;

  select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba($outline, 0.38);
    height: 32px;
    padding: 0px 12px;
    outline: none;
    cursor: pointer;
  }

  &:not([data-active="true"]) {
    select {
      display: none;
    }
  }
}

.menu-label {
  @extend .text--body-sm;
  @extend .mt-1;
  @extend .ml-2;
}
