{% extends "base.html" %}

{% block content %}
<div class="pane pane--full-height">
  <div class="flex align-items-center justify-content-between">
    <h2>Organization</h2>
    <a class="btn--tonal" href="{% url 'customer-create' %}">
      New Organization
    </a>
  </div>

  <div class="my-12">
    <div id="customers-table"></div>
  </div>
</div>

<script>
  const filterOptions = {{ table_filters|safe }}

  $(document).ready(() => {
    new DataTable("customers-table", {
      columns: [
        "Organization Name",
        "BD",
        "Territory",
        "Location",
        "Segment",
        "Active Deals",
        "Completed Deals",
        "Created",
      ],
      filterOptions: filterOptions,
      sortOptions: [
        {sort: "name", label: "Organization Name"},
        {sort: "business_development_manager__full_name", label: "BD"},
        {sort: "territory__name", label: "Territory"},
        {sort: "segment", label: "Segment"},
        {sort: "created_at", label: "Created"},
      ],
      url: "/api/tables/customers/",
      perPage: 30,
    })
  })
</script>
{% endblock %}
